# Nagad Payment Verification
NAGAD_MERCHANT_ID=your_merchant_id
NAGAD_MERCHANT_IP=your_server_ip
NAGAD_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----
NAGAD_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
NAGAD_SANDBOX=true
APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_FUNCTION_PROJECT_ID=your_project_id
APPWRITE_API_KEY=your_api_key
